/* Error: expected "{".
 *     ,
 * 211 | >>>>>>> release/Final_Work
 *     |                           ^
 *     '
 *   src/sass/base.scss 211:27  @import
 *   src/sass/main.scss 15:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 211 \2502  >>>>>>> release/Final_Work\a     \2502                            ^\a     \2575 \a   src/sass/base.scss 211:27  @import\a   src/sass/main.scss 15:9    root stylesheet';
}
